body{
  margin: 0;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-color: aqua; */
}

.form-box{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  border-radius: 5px;
}

.form-name{
  margin: 0;
  padding: 0;
  padding-left: 1vh;
  padding-right: 5vh;
  font-size: small;
  align-items: flex-start;
  justify-content: start;
  /* background-color:burlywood; */
}

.code-price{
  padding-left: 1vh;
  padding-right: 1vh;
  font-weight: 500;
  display: flex;
  justify-content:space-between;
  align-items:center;
  /* background-color: brown; */
}

.input{
  border: 0px;
  width: 7em;
}